*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: .5rem;
    font-weight: bold;
}


.header{
    margin: 2rem 0 1rem 0 
}

.breakdown{
    margin-left: 1rem;
}

.incomeStatement{
    display: grid;
    grid-template-areas: 
    "header header"
    "revenue revenueNum"
    "cogs cogsNum"
    "rawMat rawMatNum"
    "freight freightNum"
    "factoryLabor factoryLaborNum"
    "storage storageNum"
    "grossProfit grossProfitNum"
    "otherOpCosts otherOpCostsNum"
    "indirectLabor indirectLaborNum"
    "legal legalNum"
    "officeEquip officeEquipNum"
    "opProfit opProfitNum";
    justify-content: center;
}

.header{
    grid-area: header;
} 

.revenue{
    grid-area: revenue;
}  
.revenueNum{
    grid-area: revenueNum;
} 
.cogs{
    grid-area: cogs;
} 
.cogsNum{
    grid-area: cogsNum;
} 
.rawMat{
    grid-area: rawMat;
}  
.rawMatNum{
    grid-area: rawMatNum;
} 
.freight{
    grid-area: freight;
}  
.freightNum{
    grid-area: freightNum;
} 
.factoryLabor{
    grid-area: factoryLabor;
}
.factoryLaborNum{
    grid-area: factoryLaborNum;
}

.storage{
    grid-area: storage;
} 
.storageNum{
    grid-area: storageNum;
} 
.grossProfit{
    grid-area: grossProfit;
} 
.grossProfitNum{
    grid-area: grossProfitNum;
} 
.otherOpCosts{
    grid-area: otherOpCosts;
} 
.otherOpCostsNum{
    grid-area: otherOpCostsNum;
} 
.indirectLabor{
    grid-area: indirectLabor;
} 
.indirectLaborNum{
    grid-area: indirectLaborNum;
} 
.legal{
    grid-area: legal;
} 
.legalNum{
    grid-area: legalNum;
} 
.officeEquip{
    grid-area: officeEquip;
} 
.officeEquipNum{
    grid-area: officeEquipNum;
} 
.opProfit{
    grid-area: opProfit;
} 
.opProfitNum{
    grid-area: opProfitNum;
} 

.score{
    display: grid;
    grid-template-areas:
    "opm opmNum";
    justify-content: center;
    margin: 1rem 0 1rem 0
}

.opm{
    grid-area: opm;
    margin-right: 3rem;
}
.opmNum{
    grid-area: opmNum;
    margin-right: 2rem;
}

.bottom{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scenario1{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

fieldset{
    display:flex;
    flex-direction: column;
    list-style: none;
    width: 450px;
}

.options{
display: inline-block;
    list-style: none;
}

.firstSet{
float: left;
}
.firstSetA{
    display: block;
}



.scenario2{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.scenario3{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.scenario4{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.firstSetA{
    margin-right: 1rem;
}

