*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    width: 100%;
    height: auto;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: .5rem;
    font-weight: bold;
}

.menu  a{
    text-decoration: none;
}

.menu a:visited{
    color: black;
}

.menu a:link{
    color: black;
}

.menu li{
    border: 2px solid black;
    padding: 0 2rem 0 2rem;
    background-color: rgb(243, 240, 237);
    border-radius: 10px;
    box-shadow: .5rem .5rem .5rem black;
}

.header{
    margin: 1rem 0 .5rem 0 
}

.breakdown{
    margin-left: 1rem;
}

.incomeStatement{
    display: grid;
    grid-template-areas: 
    "header header"
    "revenue revenueNum"
    "cogs cogsNum"
    "rawMat rawMatNum"
    "freight freightNum"
    "factoryLabor factoryLaborNum"
    "storage storageNum"
    "grossProfit grossProfitNum"
    "otherOpCosts otherOpCostsNum"
    "indirectLabor indirectLaborNum"
    "legal legalNum"
    "officeEquip officeEquipNum"
    "opProfit opProfitNum";
    justify-content: center; 
}



.wrapper{
    border: 2px solid black;
    height: 310px;
    margin-top: 8px;
    width: 500px;
    margin:15px auto;
    border-radius: 10px;
    box-shadow: .5rem .5rem .5rem black;
;
    
    
}

.header{
    grid-area: header;
} 

.revenue{
    grid-area: revenue;
}  
.revenueNum{
    grid-area: revenueNum;
} 
.cogs{
    grid-area: cogs;
} 
.cogsNum{
    grid-area: cogsNum;
} 
.rawMat{
    grid-area: rawMat;
}  
.rawMatNum{
    grid-area: rawMatNum;
} 
.freight{
    grid-area: freight;
}  
.freightNum{
    grid-area: freightNum;
} 
.factoryLabor{
    grid-area: factoryLabor;
}
.factoryLaborNum{
    grid-area: factoryLaborNum;
}

.storage{
    grid-area: storage;
} 
.storageNum{
    grid-area: storageNum;
} 
.grossProfit{
    grid-area: grossProfit;
} 
.grossProfitNum{
    grid-area: grossProfitNum;
} 
.otherOpCosts{
    grid-area: otherOpCosts;
} 
.otherOpCostsNum{
    grid-area: otherOpCostsNum;
} 
.indirectLabor{
    grid-area: indirectLabor;
} 
.indirectLaborNum{
    grid-area: indirectLaborNum;
} 
.legal{
    grid-area: legal;
} 
.legalNum{
    grid-area: legalNum;
} 
.officeEquip{
    grid-area: officeEquip;
} 
.officeEquipNum{
    grid-area: officeEquipNum;
} 
.opProfit{
    grid-area: opProfit;
} 
.opProfitNum{
    grid-area: opProfitNum;
} 

.score{
    display: grid;
    grid-template-areas:
    "opm opmNum";
    justify-content: center;
    margin: .5rem 0 .5rem 0
}

.opm{
    grid-area: opm;
    margin-right: 3rem;
}
.opmNum{
    grid-area: opmNum;
    margin-right: 2rem;
    margin-bottom: none;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
   /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.scenario1{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

fieldset{
    display:flex;
    flex-direction: column;
    list-style: none;
    width: 500px;
    line-height: 2rem;
    box-shadow: .5rem .5rem .5rem black;
    margin-top: none;
}

.options{
display: inline-block;
    list-style: none;
}

.firstSet{
float: left;
margin-top: .65rem;
margin-right: .25rem;
margin-left: .5rem;

}
.firstSetA{
    display: block;
}



.scenario2{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.scenario3{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.scenario4{
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.firstSetA{
    margin-right: 1rem;
}

legend{
    font-weight: bolder;
}

.reset{
    display: flex;
    justify-content: center;
}

.reset > button{
    padding:0 1rem  0 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 10px;
    box-shadow: .5rem .5rem .5rem black;
}

.scenarioBtns{
    display: flex;
    justify-content: space-around;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.scenarioBtns > button{
    font-size: .75rem;
    font-weight: bold;
    padding: 0 .5rem 0 .5rem;
}

.previous{
    display: inline;
    padding-top: 2rem;
    text-align: center;
}

.previous h1{
    margin-top: 2rem;
}