/* Intro page */
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: .5rem;
    font-weight: bold;
}

.menu  a{
    text-decoration: none;
}

.menu a:visited{
    color: black;
}

.menu a:link{
    color: black;
}

.menu li{
    border: 2px solid black;
    padding: 0 2rem 0 2rem;
    background-color: rgb(243, 240, 237);
    border-radius: 10px;
    box-shadow: .5rem .5rem .5rem black;
}

li{
    margin-left: 4rem;
    margin-right: 4rem;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;

}

.titleBox{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.welcomeBox{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.refresherBox{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.videoBox{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.video{
    height: 18rem;
    border-radius: 20px;
    box-shadow: 1rem 1rem 1rem ;
}

.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 20rem;
    height: 4rem;
    font-size: 2rem;    
    font-weight: bolder;
    margin-top: 1rem;
    padding: none;
    border-radius: 20px;
    box-shadow: .5rem .5rem .5rem black;
    color: white;
    background-color: green;
}
/*End of Intro Page */